@import "../castle-shell/colors.rasi"
* {
    foreground: #ffeedd;
    backlight:   #ccffeedd;
    background-color:  transparent;
    dark: #1c1c1c;
    // Black
    black:       #131313;
    lightblack:  #171717;
    tlightblack:  #1a1a1a;
    //
    // Red
    red:         #cd5c5c;
    lightred:    #cc5533;
    //
    // Green
    green:       #86af80;
    lightgreen:  #88cc22;
    //
    // Yellow
    yellow:      #e8ae5b;
    lightyellow:     #ffa75d;
    //
    // Blue
    blue:      #6495ed;
    lightblue:     #87ceeb;
    //
    // Magenta
    magenta:      #deb887;
    lightmagenta:     #996600;
    //
    // Cyan
    cyan:      #b0c4de;
    tcyan:      #ccb0c4de;
    lightcyan:     #b0c4de;
    //
    // White
    white:      #bbaa99;
    lightwhite:     #ddccbb;
    //
    // Bold, Italic, Underline
    highlight:     underline bold #ffffff;

    transparent: rgba(0,0,0,0);
    font-family: "OpenDyslexicNerdFont"; 
    font-size: 12px;
}
#window {
    location: center;
    anchor:   center;
    transparency: "screenshot";
    padding: 0px;
    border:  0px;
    border-radius: 10px;
    color: @magenta;
    background-color: @transparent;
    spacing: 0;
    children:  [mainbox];
    orientation: horizontal;
}

#mainbox {
    spacing: 0;
    children: [ inputbar, message, listview ];
}

#message {
    border-color: @primaryColor;
    border:  0px 2px 2px 2px;
//    border-radius: 10px;
    padding: 5;
    background-color: @tcyan;
}
#message {
    font: "Source Code Pro 8";
    color: @textColor;
}

#inputbar {
    color: @textColor;
    padding: 11px;
    background-color: @secondaryColorDarker;
    border: 2px 2px 2px 2px;
    border-radius:  15px 15px 0px 0px;
    border-color: @primaryColor;
    font: "Source Code Pro 18";
}
#entry,prompt,case-indicator {
    text-font: inherit;
    text-color:inherit;
}

entry, element-text {
  text-color: @textColor;
  background-color: transparent;
}

#prompt {
    margin:     0px 0.3em 0em 0em ;
}
#listview {
    padding: 8px;
    border-radius: 0px 0px 15px 15px;
    border-color: @primaryColor;
    border: 0px 2px 2px 2px;
    background-color: @secondaryColor;
    dynamic: false;
    lines: 10;
}
#element {
    padding: 3px;
    vertical-align: 0.5;
//    border: 2px;
    border-radius: 4px;
    background-color: transparent;
    color: @primaryColor;
    font:inherit;
}
#element selected.normal {
    background-color: @secondaryColorDarker;
}
#element normal active {
    foreground: @secondaryColor;
}
#element normal urgent {
    foreground: @lightred;
}
#element alternate normal {
}
#element alternate active {
    foreground: @secondaryColor;
}
#element alternate urgent {
    foreground: @lightred;
}
#element selected active {
    background-color: @secondaryColor;
    foreground: @secondaryColorDark;
}
#element selected urgent {
    background-color: @lightred;
    foreground: @secondaryColorDark;
}
#element normal normal {

}

#vertb {
    expand: false;
    children: [ dummy0, mode-switcher, dummy1  ];
}
#dummy0,  dummy1 {
    expand: true;
}

#mode-switcher {
    expand: false;
    orientation: vertical;
    spacing: 0px;
    border: 0px 0px 0px 0px;
}
#button {
    font: "FontAwesome 22";
    padding: 6px;
    border: 2px 0px 2px 2px;
    border-radius: 4px 0px 0px 4px;
    background-color: @secondaryColor;
    border-color: @primaryColor;
    color: @primaryColor;
    horizontal-align: 0.5;
}
#button selected normal {
    color: @secondaryColorDark;
    border: 2px 0px 2px 2px;
    background-color: @secondaryColorDark;
    border-color: @primaryColor;
}

