@import "../castle-shell/colors.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */

    font-family: "OpenDyslexicNerdFont", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-size: 15px;
    color: @textColor;
    transition: .5s;
    /* letter-spacing: 1px; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

window#waybar {
    background-color: @secondaryColor;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

.module {
    padding: 4px 10px;
    margin: 0 2px;
    background-color: @primaryColor;
    transition: .5s;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.module:hover {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 6px 14px;
    border-radius: 20px;
}

label:focus {
    background-color: #000000;
}

#language {
    margin-left: 4px;
}

#workspaces {
    background-color: transparent;
    padding: 0;
    margin: 0 2px;
    transition: .5s;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

#workspaces button {
    background-color: transparent;
    padding: 4px 2px;
    margin: 0;
    transition: .5s;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

#workspaces button.active {
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#custom-playerprev {
    min-width: 20px;
    padding: 0 5px 0 10px;
    border: 0;
    border-radius: 15px 0 0 15px;
    margin-right: 0;
}

#custom-media {
    min-width: 100px;
    padding: 0;
    border: 0;
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
}

#custom-playernext {
    min-width: 20px;
    padding: 0 10px 0 5px;
    border: 0;
    border-radius: 0 15px 15px 0;
    margin-left: 0;
}

#custom-playerprev:hover {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 6px 14px;
    border-radius: 20px 6px 6px 20px;
}

#custom-media:hover {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 6px 14px;
    border-radius: 6px;
}

#custom-playernext:hover {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 6px 14px;
    border-radius: 6px 20px 20px 6px;
}

#privacy {
    padding: 4px 10px;
    margin: 0 2px;
    background-color: @primaryColor;
    transition: .5s;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#privacy:hover {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 6px 14px;
    border-radius: 20px;
}

#privacy-item {
    padding: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
 
#pulseaudio.muted {
    color: red;
}

#network.disconnected {
    background-color: red;
}

#cpu {
    margin-right: 0;
    margin-left: 2px;
    border-radius: 15px 0 0 15px;
    padding: 0 2px 0 10px;
}

#battery, #backlight {
    padding: 0 2px;
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
}

#memory {
    padding: 0 10px 0 2px;
    border-radius: 0 15px 15px 0;
    margin-right: 4px;
    margin-left: 0;
}

#cpu:hover, #memory:hover, #backlight:hover, #battery:hover {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 6px 14px;
    border-radius: 20px 6px 6px 20px;
}

#backlight:hover, #battery:hover {
    border-radius: 6px;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory:hover {
    border-radius: 6px 20px 20px 6px;
}

